:root {
  --primary-color: #121421;
  --alt-color: #1fbcff;
  --secondary-color: #ff2359;
  --font-size: 1.8rem;
}

/* Story */

.story .heading-secondary {
  text-align: center;
}

.story .heading-tertiary {
  color: var(--alt-color);
  margin-bottom: 2rem;
  margin-top: 4rem;
}

.article-container {
  margin-top: 3rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  align-items: center;
  justify-content: center;

  font-size: var(--font-size);
}

.article-container .text {
  line-height: 2.6rem;
}

.article-container article:first-child {
  grid-column-start: span 2;
}

.article-container article img {
  width: 100%;
  height: 100%;
  border-radius: 4rem;
}

/* AT A GLANCE Section */

.at-a-glance {
  background-color: var(--primary-color);
  color: #fff;
  padding-top: 2.4rem;
  height: 40rem;
}
.atg-main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 2.4rem;
  gap: 2rem;
}
.atg-summary {
  font-size: var(--font-size);
}
.atg-boxes {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1.2rem;
}

.atg-box {
  font-size: 1.2rem;
  background-color: #2a2c37;
  border-radius: 2rem;
  padding: 2rem;
  border: 2px solid transparent;
  transition: all 400ms ease;
}
.atg-box:hover {
  background-color: #1e202c;
  border: 2px solid #2a2c37;
}

.atg-box i {
  font-size: 2rem;
  padding: 0.4rem 0.7rem;

  border-radius: 0.4rem;
}

.atg-box:nth-child(odd) i {
  background-color: rgba(31, 188, 255, 0.3);
}
.atg-box:nth-child(even) i {
  background-color: rgba(255, 35, 89, 0.3);
}
.atg-box .title-num {
  font-size: 2.4rem;
  margin-top: 1.2rem;
}
.atg-box .title-dscp {
  line-height: 1.8rem;
  margin-top: 0.7rem;
  font-size: 1.2rem;
}

/* MESSAGES SECTION */

.messages-container {
  margin-top: 16rem;
}

.message-box {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  margin-top: 6rem;
  align-items: center;
}

.message-text {
  display: flex;
  gap: 1.5rem;
  align-items: flex-start;
}

.message-text .quote img {
  width: 10rem;
  transform: translateY(-25px);
  z-index: -11111111;
  opacity: 0.5;
}

.message-text .text img {
  width: 10rem;
  height: 10rem;
  border-radius: 100rem;
  display: none;
}

.message-text .text .message {
  font-size: var(--font-size);
}

.message-text .text .author {
  display: flex;
  gap: 1rem;
  align-items: center;
  margin-top: 2rem;
  font-size: 1.2rem;
  text-transform: uppercase;
  color: #2a2c37;
}
.message-img img {
  width: 100%;
}

/* MEDIA QUERY FOR TABLETS */

@media screen and (max-width: 1024px) {
  html {
    font-size: 56.25%;
  }

  /* At A GLANCE FOR MINI LAPTOP */
  .atg-main {
    grid-template-columns: 35% 65%;
  }
}

@media screen and (max-width: 824px) {
  html {
    font-size: 50%;
  }

  /* NAV BAR FOR TABLETS */

  /* HEADER FOR TABLETS*/

  /* STORY FOR TABLETS */

  .article-container .story-section:first-child {
    grid-column: 1/ 4;
  }

  .article-container .story-section:nth-child(3) {
    grid-column: 1/4;
    grid-row: 3/4;
  }

  /* At A GLANCE FOR TABLETS */

  .at-a-glance {
    height: 50rem;
  }
  .atg-main {
    grid-template-columns: 1fr;
  }

  /* MESSAGES FOR TABLETS */
  .message-box {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
  }

  .message-img {
    width: 60%;
    justify-self: center;
  }

  .messages-container .message-box .message-img {
    grid-row: 2/3;
    align-self: flex-start;
  }
  @media screen and (max-width: 485px) {
    html {
      font-size: 44%;
    }

    /* HEADER FOR MOBILES */
    .header-image img {
      width: 80%;
      align-self: center;
      justify-self: center;
    }
    .header-image img:nth-child(1) {
      width: 80%;
    }

    /* STORY FOR MOB */

    /* At A GLANCE FOR MOBILE */
    .at-a-glance {
      height: 70rem;
    }
    .atg-main {
      grid-template-columns: 1fr;
    }
    .atg-boxes {
      grid-template-columns: 1fr 1fr;
    }
  }
}
